body {
	background-color: #eb9b31;
	font-family: Georgia, serif;
}

h1 {
	font-size: 36px;
	text-align: center;
	border-bottom: black 1px solid;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

ul {
	list-style-type: disc;
	padding-left: 32px;
	font-size: 20px;
}

li {
	margin: 10px 0;
}

a {
	color: #773e8d;
	text-decoration: none;
}

a:hover {
	color: #8b52a1;
}

strong {
	font-weight: bold;
}

#wrap {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	padding: 30px;
}

#nav {
	position: absolute;
	margin: 310px 0 0 550px;
	width: 400px;
}

#nav .button {
	margin-right: 50px;
}

.button {
	background-color: #773e8d;
	color: white;
	padding: 8px;
	font-family: Georgia, serif;
	font-size: 22pt;
	text-decoration: none;
}

a.button:hover {
	background-color: #8b52a1;
	color: white;
}

#book {
	width: 100%;
	height: 700px;
	margin: 30px 0;
	background-color: black;
}

#video {
	float: left;
	margin-right: 30px;
}

#footer {
	clear: both;
	margin: auto;
	width: 500px;
}

#footer p, #content p {
	font-size: 14pt;
}

#content {
	display: block;
	clear: both;
	margin-bottom: 75px;
	text-align: center;
}

p {
	margin-bottom: 30px;
}

#donate {
	float: right;
	margin: 1em 2em;
}

#footer p {
	text-align: center;
}

small {
	font-size: 0.75em;
}

.clearfix {
	clear: both;
}
